---
interface Props {
  title: string;
  icon: string;
  bgColor: string;
  url: string;
}

const { title, icon, bgColor, url } = Astro.props;
---

<div
  class={`p-4 rounded-xl text-card-foreground shadow-sm hover:shadow-lg hover:scale-105 transition-all duration-300 ${bgColor}`}
>
  <a href={url} class="flex flex-col items-center gap-3">
    <span class="text-3xl">{icon}</span>
    <span class="text-gray-800 text-md font-semibold">{title}</span>
  </a>
</div>
